In [ ]:
import pymongo
import datetime
import collections
from numpy import nan as NA
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import folium
import numpy as np
import pandas as pd
import scipy.stats
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as psqlg

In [ ]:
!restart refine

**classify bat as a specific species based on location and possibly look at the possibility that there is a species shift based 
on evolution** If I classify the species ‘bat’ into a specific species based on location data? I could have 
this as one question and the other one could be a comparison of numbers of hibernating and roosting bats to ascertain if 
they follow similar patterns to determine if some types of bats survive hibernation better than others?
Remember to format the date as %d,%m,%y and that hib is jan/feb and roost summer months **

**I also have to look at the dates and classify dates that fall outside the expected months. The months for hibernation data 
are supposed to be january and february and the roost data should be summer months mostly june and July. Can I nearest neighbours
months or should it be classification.**

Look at 3.3, 3.2, 3.1

**The intention would be to say that if a bat is spotted at a particular location, then based on the other bats spotted
at that same location the bat is more likely to be on a specific species.** Hence task 2 will be to carry this out on both 
datasets.**
**The question to answer on the hibernation data is how well bats survive hibernation so this needs both datasets to compare 
expected numbers found in the summer months following hibernation. However if I were to classify the bats on location for
the roost data alone first then I could use what I learn and expand it when I am using the datatsets together.
In this way it may be a useful way of pointing out that the results of the classification are suitable for re-use and 
having 'trained' the classifier itis now possible assume greater reliability if the results on the second dataset are 
falling within the same patterns.**

The locations in the roost data and field surveys are more accurate, so they require more digits in the grid reference. 
Remember that the accuracy of all the location data has been restricted to protect the bats and the privacy of property owners.

In [ ]:
#Reading in the first five rows of HibernationObservations data using the head() command. Taken in Jan/Feb
h_df = pd.read_csv('data/HibernationSurveyObservationsCleaned.csv', 
                   usecols = ['observationID','recordKey','gridReference', 'startDate','commonName'])
h_df.head()

Converted dates in open refine and created a month column using value.toDate('MM/yy','MMM-yy').toString('yyyy-MM') and edit
colum add column based on this column.

In [ ]:
h_df['gridReference'].to_csv('data/gridrefs1.csv', index=False)

In [ ]:
h_df.sort_values(['recordKey'], ascending=True, inplace=True)
h_df.head()

In [ ]:
bat = h_df[h_df['commonName']=='Bat']
len(bat)

In [ ]:
#import dateutil
#h_df['startDate'].apply(lambda x: dateutil.parser.parse(x,dayfirst=True))

In [ ]:
h_df['year'] = pd.to_datetime(h_df['startDate']).dt.year
h_df['month'] = pd.to_datetime(h_df.startDate).dt.month

In [ ]:
#Retrieving the minimum year
minYear = h_df['year'].min()
minYear

In [ ]:
#Retrieving the maximum year
maxYear = h_df['year'].max()
maxYear

In [ ]:
h_df.drop('startDate', axis=1, inplace=True)

In [ ]:
h_df.dtypes

In [ ]:
#saving the grid refernces to csv
h_df['gridReference'].to_csv('data/gridrefs1.csv', index=False)

In [ ]:
#lsiting the grid references
list(h_df['gridReference'])

Running the grid references conversion notebook

In [ ]:
%run 'grid-refs-to-lat-lon.ipynb'

In [ ]:
#converting the grid refernces
h_df['gridReference'].apply(lambda x: expand_grid_ref(to_osgb36(x)))

In [ ]:
#%run 'grid-refs-to-lat-lon.ipynb'
h_df['test'] = h_df['gridReference'].apply(lambda x: expand_grid_ref(to_osgb36(x)))

In [ ]:
h_df.head()

In [ ]:
#writing to csv
h_df.test.to_csv('data/refs.csv', index=False)

In [ ]:
#lising the grid refs
hrefs = []
for v in h_df.test:
     hrefs.append(v)
print(hrefs)

In [ ]:
#ptting then references into a dataframe
ref_df = pd.DataFrame(h_df.test)
ref_df.head()

In [ ]:
#removing the extra column
h_df.drop('test', axis=1, inplace=True)

In [ ]:
#writing back to csv
ref_df.to_csv('data/hibrefs.csv', index=False)

In [ ]:
#Reading in the first five rows of RoostSurveyObservations data using the head() command. This is cleaned data from open refine
# The comparisons can be seen below where I had determined the grid references which couldn't be converted and I removed them using
#a text facet. I have left the exploration in to show the steps taken.
rCleaned_df = pd.read_csv('data/RoostObservationsCleaned1.csv', 
                   usecols = ['observationID','recordKey','gridReference', 'startDate','commonName'])
rCleaned_df.head()

In [ ]:
#Extracting first 4 digits to convert so that the entries are the same format as the hibernation data.
rCleaned_df['gridReference'] = rCleaned_df['gridReference'].str[0:4]
rCleaned_df.head()

**Write the full dataframes to open refine and take out all the rows not equal to 'bat' then remove all columns except
latitude and longitude**

In [ ]:
rCleaned_df.dtypes

In [ ]:
#converting dates
rCleaned_df['startDate'] = pd.to_datetime(rCleaned_df['startDate'])
rCleaned_df.dtypes

In [ ]:
#extracting month and year
rCleaned_df['year'] = rCleaned_df['startDate'].dt.year
rCleaned_df['month'] = rCleaned_df.startDate.dt.month

In [ ]:
#sorting based on recordKey 
rCleaned_df.sort_values(['recordKey'], ascending=True, inplace=True)
rCleaned_df.head()

In [ ]:
#dropping the startDate column
rCleaned_df.drop('startDate', axis=1, inplace=True)

In [ ]:
rCleaned_df.head()

In [ ]:
#reading in the coordinates
roostCoords = pd.read_csv('data/roostcoords.csv')

In [ ]:
#putting the coordinates columns into the dataframes
rCleaned_df['Coords'] = roostCoords.Coords
rCleaned_df['Coords1'] = roostCoords.Coords1

In [ ]:
#writing it to csv
rCleaned_df.to_csv('data/RoostCoords.csv',index=False)

In [ ]:
#finding the minimum year
rCleaned_df.year.min()

In [ ]:
#maximum  year
rCleaned_df.year.max()

In [ ]:
#adding a test column
rCleaned_df['test'] = rCleaned_df['gridReference'].apply(lambda x: to_osgb36(x))

Searching for the 'problem' grid refernces by using comparisons with the correct ones

In [ ]:
#looking at the hibernation refs
grid = list(h_df.gridReference.str[0:2])
hrefs = []
for v in grid:
     hrefs.append(v)
hrefs

In [ ]:
#looking at the roost refs
grids = list(rCleaned_df.gridReference.str[0:2])
crefs = []
for v in grids:
    crefs.append(v)
print(crefs)

Finding the refernces that are not in the hibernation dataset so that they can be removed from the roost dataset

In [ ]:
#finding the references to be removed
unlike = []
for value in hrefs:
    if value not in crefs:
        if value not in unlike:
            unlike.append(value)
unlike

In [ ]:
#writing grid refs to csv 
rCleaned_df['gridReference'].to_csv('data/roostrefs.csv', index=False)

In [ ]:
#writing test column to csv
rCleaned_df.test.to_csv('data/roostrefs1.csv', index=False)

In [ ]:
#listing hibernation names
aList = pd.unique(h_df.commonName)
aList

In [ ]:
#listing roost names
anotherList = pd.unique(rCleaned_df.commonName)
anotherList

In [ ]:
#making a copy to keep the original intact
hib_df = h_df.copy()

Notcommon = []
for value in aList:
    if value not in anotherList:
        if value not in Notcommon:
            Notcommon.append(value)
Notcommon

In [ ]:
#checking the common values of commonname over the roost and hibernation datasets
aSet = set(rCleaned_df.commonName).intersection(h_df.commonName)
aSet

In [ ]:
#checking the common values of commonname over the roost and hibernation datasets
anotherSet = set(h_df.commonName)
anotherSet

In [ ]:
#dropping those not in both
dropList = ['Myotis Bat species','Western Barbastelle','Mouse-eared Bat','Long-eared Bat species','Lesser Noctule']

In [ ]:
#dropping those not in both
deleted_data = hib_df.loc[hib_df['commonName'].isin(dropList)]

Amending the hibernation data to have the same bat types as the roost data. I performed this in
order to run the classifier.

In [ ]:
#Amending the hibernation data to have the same bat types as the roost data. I performed this in
#order to run the classifier.
retained_data = hib_df.loc[~hib_df['commonName'].isin(dropList)]
pd.unique(retained_data['commonName'])

In the end the grid references had to be converted using an external source. The notebook provided very unreliable results
and I used the site - http://gridreferencefinder.com/batchConvert/batchConvert.php instead.

In [ ]:
#Reading in the first five rows of data using the head() command.
coord_df = pd.read_csv('data/latlong.csv')
len(coord_df)

In [ ]:
pd.options.mode.chained_assignment = None  # default='warn'

In [ ]:
#adding the latitude and longitude columns
retained_data['latitude'] = coord_df.Latitude
retained_data['longitude'] = coord_df.Longitude
retained_data.head()

In [ ]:
list(retained_data.month)

In [ ]:
#writing the new dataframe to csv
retained_data.to_csv('data/HibernationCleaned10.csv', index=False) #Add to txt and dat and put in database

**Pipistrelles are our most common bats, but we don’t know where they all go in winter! We have not found enough hibernation
roosts to account for the numbers we see in the summer months.**

In [ ]:
#Reading in the first five rows of data using the head() command.
coord1_df = pd.read_csv('data/RoostLatLong.csv')
len(coord1_df)

In [ ]:
#adding the latitude and longitude columns
rCleaned_df['latitude'] = coord1_df.Latitude
rCleaned_df['longitude'] = coord1_df.Longitude
rCleaned_df.head()

In [ ]:
#removing the test column
rCleaned_df.drop('test', axis=1, inplace=True)

In [ ]:
rCleaned_df.head()

In [ ]:
#writing the new dataframe to csv
rCleaned_df.to_csv('data/RoostCleaned10.csv', index=False) #Add to txt and dat and put in database

In [ ]:
#reading the coordinates to a dataframe
coordsh_df = pd.read_csv('data/hibcoords.csv')
len(coordsh_df)

In [ ]:
pd.options.mode.chained_assignment = None  # default='warn'

In [ ]:
#adding the coords columns
retained_data['Coords'] = coordsh_df.Coords
retained_data['Coords1'] = coordsh_df.Coords1
#This exploration didn't go far ad it was to try an alternative to latitude nad longitude for conversion purposes. 
#It didn't gain anything though.

**I moved the SQL exploration to the PostrgreSQL notebook - EMA/PostgreSQL_DB.ipynb. I also used a method to read in the data
from dataframes rather than from the csv files I used initially.**

This was really tricky, to read in the csv files I had to change the file extensions to .txt and open them in excel in order
to deliminate the columns sufficiently for it to be read into postgreSQL. I then changed the extension to.dat to read it in
as data so that postgre could read it and parse it to the correct columns.
I had cleaned the GRID reference columns using a combination of removing the Irish rerefences in Open Refine by using a Text 
Facet and deleting the rows with those grid references and I then removed the 5 character references by cutting it down to four
character references. I would assume that this was carried out by the Bat Conservation Trust on the Hibernation Data and that 
is why they were already 4 characters.

**The remaining exploration can be found in the postgreSQL, Maps, Classified Analysis and KNN notebooks in the EMA folder **

In [ ]:
%load_ext sql
%sql postgresql://test:test@localhost:5432/tm351test

In [ ]:
%%sql
DROP TABLE IF EXISTS HibernationBats;
CREATE TABLE HibernationBats(
    observationID VARCHAR(30),
    recordKey VARCHAR(30),
    gridReference VARCHAR(30),
    commonName VARCHAR(70),
    year VARCHAR(30),
    month VARCHAR(30),
    latitude VARCHAR(30),
    longitude VARCHAR(30),
    PRIMARY KEY (observationID)
);

In [ ]:
# iterate over the dataframe 'df' & insert each row into the hibernation table
for index, row in retained_data.iterrows():
    observationID = row['observationID']
    recordKey = row['recordKey']
    gridReference = row['gridReference']
    commonName = row['commonName']
    year = row['year']
    month = row['month']
    latitude = row['latitude']
    longitude = row['longitude']
    %sql INSERT into HibernationBats VALUES(:observationID, :recordKey, :gridReference, :commonName, :year, :month, :latitude, :longitude);

In [ ]:
%%sql SELECT * FROM HibernationBats
WHERE HibernationBats.commonName = 'Lesser Horseshoe Bat' AND HibernationBats.year = '2013'

In [ ]:
%%sql SELECT * FROM HibernationBats
WHERE HibernationBats.commonName = 'Bat';

In [ ]:
conn = pg.connect(dbname='tm351test', host='localhost', user='test', password='test', port=5432)

In [ ]:
batonly = pd.read_sql_query("SELECT * FROM HibernationBats\nWHERE HibernationBats.commonName = 'Bat';",conn)
batonly.head()

In [ ]:
dfh = pd.read_sql_query('select * from HibernationBats',conn)
dfh.head()

In [ ]:
%%sql
DROP TABLE IF EXISTS RoostBats CASCADE;
CREATE TABLE RoostBats(
    observationID VARCHAR(30),
    recordKey VARCHAR(30),
    gridReference VARCHAR(30),
    commonName VARCHAR(70),
    year VARCHAR(30),
    month VARCHAR(30),
    latitude VARCHAR(30),
    longitude VARCHAR(30),
    PRIMARY KEY (observationID)
);

In [ ]:
# iterate over the dataframe 'df' & insert each row into the hibernation table
for index, row in rCleaned_df.iterrows():
    observationID = row['observationID']
    recordKey = row['recordKey']
    gridReference = row['gridReference']
    commonName = row['commonName']
    year = row['year']
    month = row['month']
    latitude = row['latitude']
    longitude = row['longitude']
    %sql INSERT into RoostBats VALUES(:observationID, :recordKey, :gridReference, :commonName, :year, :month, :latitude, :longitude);

In [ ]:
dfr = pd.read_sql_query('select * from RoostBats',conn)
dfr.head()

Have to bring in the file to excel after saving the csv with .txt extension.

In [ ]:
%%sql
SELECT * FROM RoostBats
WHERE RoostBats.commonName = 'Bat';

In [ ]:
%%sql SELECT * FROM RoostBats
WHERE RoostBats.latitude = '51.217579';

In [ ]:
roostbatonly = pd.read_sql_query("SELECT * FROM RoostBats\nWHERE RoostBats.commonName = 'Bat';",conn)
roostbatonly.head()

**You test it by witholding some of the data which has known classes (of what you are trying to classify)
Run the classifier on this test data to see if you get the correct classification**

**Getting latitude and longitude for commonName 'BAT' in order to classify correctly. I will start with ROOSTBATS now use
the results of the classification to re-classify the hibernation bats.**

**Predict all the ones where they have the common name 'bat' by reading in the latitude and longitude to the test dataframe
Find out how to put the results of the select into a dtafram and then put all the lat and lon ino the test df for name bat.**

In [ ]:
hibatitude_df = pd.read_csv('data/HibernationBatitude.csv')
len(hibatitude_df)

In [ ]:
lat = list(hibatitude_df['latitude'])
long = list(hibatitude_df['longitude'])
print(lat)

In [ ]:
print(long)

In [ ]:
robintude_df = pd.read_csv('data/RoostBatitude.csv')
robintude_df.head()

In [ ]:
Rlat = list(robintude_df['latitude'])
Rlong = list(robintude_df['longitude'])

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
classifier_3NN = KNeighborsClassifier(n_neighbors=4, metric='euclidean')

In [ ]:
#training_df = retained_data[['year', 'latitude', 'longitude']]
#targetV_ss = retained_data['commonName']

#classifier_3NN.fit(training_df, targetV_ss)

In [ ]:
retained_data.head(20)

In [ ]:
retained_data.to_csv('data/HibernationCoords.csv',index=False)

In [ ]:
nobats = retained_data.loc[retained_data['commonName'] != 'Bat']
nobats.head()

In [ ]:
#selecting columns which don't have bat to set test data
nobat = dfr.loc[dfr['commonname'] != 'Bat']
nobat.head()

In [ ]:
nobath = dfh.loc[dfh['commonname'] != 'Bat']
nobath.head()

In [ ]:
#testData_df

In [ ]:
#output_df = testData_df.copy()
#output_df['commonName'] = classifier_3NN.predict(testData_df)

#output_df

**Use this method**notebook 20.1

****http://jncc.defra.gov.uk/page-4271****

****http://www.bio.bris.ac.uk/research/bats/britishbats/****

**use this method - Try putting a 'bat into the classifier by putting it in it's own dataframe and see where it puts it**

In [ ]:
training_df1 = nobats[['Coords', 'Coords1']]
targetV_ss1 = nobats['commonName']

classifier_3NN.fit(training_df1, targetV_ss1)

In [ ]:
#Hibernation
#'year':[1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013],
#To classify several instances at once, we use more rows in the test data DataFrame:
testData_df1=pd.DataFrame({'latitude':[53.217612,52.125155,53.047173,51.049767,51.313717,53.404438,51.217579,50.337666,51.139625,
                                       53.404438,50.51745,51.049767,55.920472,50.883962,51.313717,51.246002,51.608482,55.113482],
                'longitude':[-3.499085,0.33584239,-1.8522842,0.13863303,0.43789052,-2.7535372,0.71922612,-3.6875961,0.14278336,
                             -2.4718348,-2.7535372,-3.6940008,0.13863303,-2.8016146,-0.86412773,
                             0.43789052,-2.8609895,-1.7125865]},columns = ['latitude','longitude'])

In [ ]:
testData_df1=pd.DataFrame({'Coords':[590000,610000,350000,330000,330000,200000,170000,160000,580000,
                                       180000,280000,550000,440000,430000,220000,480000,410000,260000],
                'Coords1':[150000,150000,390000,370000,400000,50000,50000,20000,240000,
                             60000,70000,160000,210000,220000,70000,
                             330000,350000,310000]},columns = ['Coords', 'Coords1'])

In [ ]:
output_df1 = testData_df1.copy()
output_df1['commonName'] = classifier_3NN.predict(testData_df1)

output_df1
#use this method

In [ ]:
testData_df3 = pd.DataFrame({'Coords':[350000],
                            'Coords1':[390000]})
testData_df3

In [ ]:
classifier_3NN.predict(testData_df3)

In [ ]:
%%sql SELECT * FROM HibernationBats
WHERE HibernationBats.latitude = '51.217579';

In [ ]:
#Bat commonname combined.
batframes = [batonly, roostbatonly]
combined_bat = pd.concat(batframes)
combined_bat.head()

In [ ]:
training_df = nobat[['latitude', 'longitude']]
targetV_ss = nobat['commonname']

classifier_3NN.fit(training_df, targetV_ss)

In [ ]:
#Roost
#To classify several instances at once, we use more rows in the test data DataFrame:
testData_df=pd.DataFrame({'latitude':[51.217579,53.047173,51.21058,51.787235,53.404438,51.496237,51.049767,50.337666,
                                      52.029198,55.113482,51.967043,53.217612,51.303973,51.842687,51.321883],
                 'longitude':[0.71922612,-1.8522842,1.0052037,-1.4215015,-2.7535372,-4.6503679,0.13863303,-3.6875961,
                             0.62241505,-2.4718348,-1.4191904,-3.499085, 0.86781568,-4.9047531,0.007744095]},
                             columns = ['latitude','longitude'])
testData_df

In [ ]:
output_df = testData_df.copy()
output_df['commonname'] = classifier_3NN.predict(testData_df)

output_df
#use this method

In [ ]:
testData_df2 = pd.DataFrame({'latitude':[51.953250],
                            'longitude':[-3.893114]})
testData_df2

In [ ]:
classifier_3NN.predict(testData_df2)

In [ ]:
#make these all bats
a=pd.DataFrame({'latitude':[51.214167],'longitude':[0.86222925]})
b=pd.DataFrame({'latitude':[51.117035],'longitude':[1.1420372]})
c=pd.DataFrame({'latitude':[51.506201],'longitude':[-0.27236048]})
d=pd.DataFrame({'latitude':[52.591922],'longitude':[-0.82048441]})
e=pd.DataFrame({'latitude':[54.663503],'longitude':[-1.381404]})
f=pd.DataFrame({'latitude':[51.234384],'longitude':[-0.13931546]})
g=pd.DataFrame({'latitude':[51.316615],'longitude':[0.29453105]})
h=pd.DataFrame({'latitude':[51.40919],'longitude':[0.15536344]})
i=pd.DataFrame({'latitude':[52.047487],'longitude':[-0.39739304]})
j=pd.DataFrame({'latitude':[51.959501],'longitude':[-0.54607466]})
k=pd.DataFrame({'latitude':[51.781437],'longitude':[-0.69677119]})
l=pd.DataFrame({'latitude':[51.961208],'longitude':[-0.69156481]})
m=pd.DataFrame({'latitude':[53.303364],'longitude':[-0.20068364]})
n=pd.DataFrame({'latitude':[51.787235],'longitude':[-1.4215015]})
o=pd.DataFrame({'latitude':[51.863445],'longitude':[-0.11347092]})
p=pd.DataFrame({'latitude':[51.153675],'longitude':[-0.85751944]})

In [ ]:
classifier_3NN.predict(k)

In [ ]:
%%sql SELECT * FROM RoostBats
WHERE RoostBats.latitude = '51.781437';

To see how well the classifier is working, we can plot the test data on the same axes as the training data:

In [ ]:
classifier_3NN.predict(b)

In [ ]:
classifier_3NN.predict(c)

In [ ]:
classifier_3NN.predict(d)

In [ ]:
classifier_3NN.predict(e)

In [ ]:
classifier_3NN.predict(f)

In [ ]:
classifier_3NN.predict(g)

In [ ]:
classifier_3NN.predict(h)

In [ ]:
classifier_3NN.predict(i)

In [ ]:
classifier_3NN.predict(k)

In [ ]:
classifier_3NN.predict(l)

In [ ]:
classifier_3NN.predict(m)

In [ ]:
classifier_3NN.predict(n)

In [ ]:
classifier_3NN.predict(o)

In [ ]:
classifier_3NN.predict(p)

**From the results it can be seen that it is possible to predict the type of bat using the k-nn classifier. I experimented with 
using 'year', but the results appeared to be the same**

In [ ]:
#hibernation value counts
dfh.commonname.value_counts()

In [ ]:
#roost value counts
dfr.commonname.value_counts()

In [ ]:
#combined value counts
comb = [dfh, dfr]
comb_bat = pd.concat(comb)
comb_bat.commonname.value_counts()

**These cells have to be run prior to manipulation of the data**

In [ ]:
bat_size = h_df.copy()

In [ ]:
bat_size.head()

In [ ]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['column_one']>2004) & (df['column_two']==9)]

In [ ]:
ford_winter_manufacturing_df = 
ford_manufacturing_df[ (ford_manufacturing_df['Month'] <= 2) |
                      (ford_manufacturing_df['Month'] >= 11)]

In [ ]:
ford_manufacturing_df.query('Month<=2 or Month>=11')

In [ ]:
bat_size = bat_size[bat_size['startDate'] >=2000][['startDate','commonName']]
bat_size = bat_size[bat_size['startDate'] <2014][['startDate','commonName']]
bat_size.head()

In [ ]:
pd.unique(h_df['commonName'])

In [ ]:
groupeddata = bat_size.groupby(['commonName'])
grouped = groupeddata['commonName'].aggregate('count')
groupeddata.size()
#experimenting with grouping to try to get a sutable format

In [ ]:
totals = groupeddata.sum()
grouped.plot(kind='bar')
plt.title('Total Hibernating Bats', fontsize=20, color='Blue')
plt.xlabel('Bat Name')
plt.ylabel('Total Count')

In [ ]:
hib_df = bat_size.copy()
#Making a copy of the dataframe to keep the previous analysis intact.
hib_df = hib_df[['commonName','startDate']]
hib_df['Count'] = hib_df['startDate'].map(hib_df.groupby(['startDate'])['commonName'].unique().apply(len))
hib_df = hib_df.rename(columns={'startDate': 'year'})
#created a new dataframe with selected columns in order to show the relevant data to see the bat counts over time.
hib_df.head()

In [ ]:
new_year = hib_df.groupby(['year'])

In [ ]:
new_year_totals = new_year.sum()
new_year_totals.head()

In [ ]:
new_year_totals.plot()

In [ ]:
#bat_size['Count'] = bat_size['year'].map(bat_size.groupby(['year'])['commonName'].unique().apply(len))

In [ ]:
#bat_size.groupby(['year', 'commonName'])[['Count']].sum()
#bat_size.reset_index()
#bat_size.columns

In [ ]:
#bat_df = h_df[['commonName','startDate']]
#pivoted = bat_df.pivot_table(index=['commonName'], aggfunc='count')
#pivoted.reset_index('startDate',inplace=True)
#pivoted = pivoted.rename(columns = {'startDate' : 'count'})
#pivoted.head()

In [ ]:
#Visualising by counts of bats
#pivoted.plot.bar(x=['commonName'])
#plt.title('Total Bats', fontsize=20, color='Blue')
#plt.xlabel('Bat Name')
#plt.ylabel('Total Count')

In [ ]:
#Reading in the first five rows of FieldSurveyObservations data using the head() command. Summer months
#f_df = pd.read_csv('data/FieldSurveyObservations.csv', 
                   #usecols = ['observationID','recordKey','gridReference', 'startDate','commonName'])
#f_df.head()

In [ ]:
#f_df.commonName.value_counts()

In [ ]:
#f_df['year'] = pd.to_datetime(f_df['startDate']).dt.year

In [ ]:
#syear = f_df.year.min()
#syear

In [ ]:
#eyear = f_df.year.max()
#eyear

Classify bats using grid references
There are thousnds of entries of bats but only 21 species in the hibernation data and 17 in the roost data.
The predicted attribute is the bat which is one of the 20 species other than 'bat'.

The remaining data can be split into training and test datasets and the results can be used to evaluate the algorithm implememtation.

Good accuracy using this method can be over 90%.

'Steps:
1.Handle Data: Open the dataset from CSV and split into test/train datasets.
2.Similarity: Calculate the distance between two data instances.
3.Neighbors: Locate k most similar data instances.
4.Response: Generate a response from a set of data instances.
5.Accuracy: Summarise the accuracy of predictions.
6.Main: Tie it all together.'(Brownlee, J, 2014) - http://machinelearningmastery.com/tutorial-to-implement-k-nearest-neighbors-in-python-from-scratch/

In [ ]:
#Step 1
#Reading in the first five rows of RoostSurveyObservations data using the head() command. Summer months
r_df = pd.read_csv('data/RoostObservations.csv', 
                   usecols = ['observationID','recordKey','gridReference', 'startDate','commonName'])
r_df.head()

In [ ]:
bats = r_df[r_df['commonName']=='Bat']
len(bats)

In [ ]:
#Step 2.Next we need to split the data into a training dataset that kNN can use to make predictions and a test dataset that 
#we can use to evaluate the accuracy of the model.
#We first need to convert the flower measures that were loaded as strings into numbers that we can work with. 
#Next we need to split the data set randomly into train and datasets. A ratio of 67/33 for train/test is a standard ratio used.
#Pulling it all together, we can define a function called loadDataset that loads a CSV with the provided filename and splits 
#it randomly into train and test datasets using the provided split ratio.

In [ ]:
rCleaned_df.sort_values(['recordKey'], ascending=True, inplace=True)
rCleaned_df.gridReference.fillna(method = 'ffill', inplace = True)
rCleaned_df.head(20)

In [ ]:
ref1 = []
for v in rCleaned_df.gridReference:
     ref1.append(v)
print(ref1)

In [ ]:
rec1 = []
for v in rCleaned_df.recordKey:
    if v not in rec1:
        rec1.append(v)
len(rec1)

In [ ]:
rCleaned_df['two']= rCleaned_df.gridReference.apply(lambda x: (x[0]+x[1]))
rCleaned_df.head()

In [ ]:
ref2 = []
for v in rCleaned_df.gridReference:
     ref2.append(v)
print(ref2)

In [ ]:
ref3 = []
for v in h_df.gridReference:
    if v not in ref3:
         ref3.append(v)

In [ ]:
reftwo = []
for v in rCleaned_df.two:
    if v not in reftwo:
          reftwo.append(v)

In [ ]:
regions = pd.read_csv('data/regions.csv')
regions.regions[21] = 'NA'
regions.tail(50)

In [ ]:
#regions is the list of regions in the conversion function notebook.
regList = []
for v in regions.regions:
    regList.append(v)
regList

In [ ]:
#These are the values to be removed
new_list = []
for element in reftwo:
    if element not in regList:
        new_list.append(element)
new_list

In [ ]:
for element in new_list:
        if element not in regList:
            regList.append(element)
regList
#Use this as the regions to convert.

**I will add these grid references to the region list and see what happens**

In [ ]:
set(reftwo).intersection(regList)

In [ ]:
listone = []
for v in regions.regions:
    listone.append(v)
listone

In [ ]:
listtwo = []
for v in rCleaned_df.two:
    listtwo.append(v)

In [ ]:
listfour = []
for v in r_df.four:
    listfour.append(v)
listfour

In [ ]:
newone = []
v = listone
x = listtwo
for i in x:
    for j in v:
        if i != j:
            newone.append(j)
newone

In [ ]:
test = []
for v in rec1:
    if v[:2] in regions:
        test.append(v)
print(test)
#lambda x: False if x[:2] in regions else True)
#print(test)

In [ ]:
%run 'grid-refs-to-lat-lon.ipynb'

In [ ]:
#rCleaned_df['four'].apply(lambda x: to_osgb36(x))#This was used initially

In [ ]:
rCleaned_df.commonName.value_counts()

In [ ]:
print(len(pd.unique(h_df.commonName)))

In [ ]:
#print(len(pd.unique(f_df.commonName)))

In [ ]:
print(len(pd.unique(rCleaned_df.commonName)))

In [ ]:
print(len(h_df),len(rCleaned_df))

In [ ]:
groupedroost = rCleaned_df.groupby(['commonName'])
groupedr = groupedroost['commonName'].aggregate('count')
groupedroost.size()
#experimenting with grouping to try to get a sutable format

In [ ]:
roost_size = rCleaned_df.copy()
roost_size = roost_size[roost_size['startDate'] >=2000][['startDate','commonName']]
roost_size = roost_size[roost_size['startDate'] <2014][['startDate','commonName']]
roost_size.head()

In [ ]:
totals = groupedroost.sum()
groupedr.plot(kind='bar')
plt.title('Total Roosting Bats', fontsize=20, color='Blue')
plt.xlabel('Bat Name')
plt.ylabel('Total Count')

In [ ]:
rsyear = rCleaned_df.startDate.min()
rsyear

In [ ]:
reyear = rCleaned_df.startDate.max()
reyear

In [ ]:
#f_df.describe()

In [ ]:
pd.unique(h_df.commonName)

In [ ]:
#rCleaned_df.gridReference.astype(str)

In [ ]:
df = pd.read_csv('data/roostrefs-csv.csv', usecols =['gridRef'])
df
#df['gridRef'] = df['gridRef'].apply(lambda x: int(str(x)))
#df['test'] = df['gridRef'].apply(lambda x: to_osgb36(x))

'A good way of using k-NN might be for cross validation (see Part 20, section 3.4 and notebook 20.2). So if you had some data you thought might make a good classifier, you could adapt the code in notebook 20.2 to investigate what the best value of k would be for that classifier, and the results would also give you a feel for how good the classifier would be (maybe you'll find that some features work better than others).

Alternatively, for the example you've given, you might investigate whether a classifier trained on the first nine years works as well on the second nine years as the first. That might tell you something about whether longer term predictions based on the earlier data would be reliable.

A different use of k-NN can be to fill gaps in one or more datasets. For example, if you have some gaps in dataset 1, but another dataset 2 which covers a similar range, then you can try to build a classifier using dataset 2 to try to fill the gaps in dataset 1.

As is discussed later in the thread, in TM351 we're not looking for great revelations, rather that you demonstrate your ability to apply the techniques rigorously, and to be able to make a good critique of your results.'
(TM351 Tutorial, 2016)

In [ ]:
pd.unique(rCleaned_df['commonName'])

In [ ]:
#Checking that startDate and endDate are equal(they are so the column will now be date)
#daterange = h_df['endDate'] - h_df['startDate']
#daterange.unique()

In [ ]:
bat_df = rCleaned_df[['commonName','startDate']]
pivoted = bat_df.pivot_table(index=['commonName'], aggfunc='count')
pivoted.reset_index('startDate',inplace=True)
pivoted = pivoted.rename(columns = {'startDate' : 'count'})
pivoted.head()

In [ ]:
#Visualising by counts of bats
pivoted.plot.bar(x=['commonName'])

In [ ]:
new_df = rCleaned_df.copy()

In [ ]:
# We need to define the function, over the specific columns of the group, 
# so it will act as the filter function - i.e. return true or false:
filter_average_mark_over_50 = lambda x: (x['Mark'].mean() > 50)
groupeddata.filter(filter_average_mark_over_50)

In [ ]:
# First a simple function to convert months to seasons
def month_to_season(month):
    season='Winter'
    if month in [2,3,4]:
        season='Spring'
    elif month in [5,6,7]:
        season='Summer'
    elif month in [8,9,10]:
        season='Autumn'
    return season
# Now add a column to salesbook using the pandas.apply to apply the new 
# function to the Month column:
salesbook_df['Season'] = salesbook_df['Month'].apply(month_to_season)
# Check to see it had the desired affect:
salesbook_df.head()

In [ ]:
#new_df = new_df[['commonName','startDate','gridReference']]
#new_df['Count'] = new_df['startDate'].map(new_df.groupby(['startDate'])['commonName'].unique().apply(len))
#new_df = new_df.rename(columns={'startDate': 'year'})
#new_df['year'] = new_df.year.dt.year#changed to years
#created a new dataframe with selected columns in order to show the relevant data to see the bat counts over time.
#new_df.head()

In [ ]:
%%sql
SELECT * 
FROM  this_year JOIN last_year ON (student = name) AND (course = module);

In [ ]:
%%sql
SELECT * 
FROM member FULL OUTER JOIN payment_made ON member.name = payment_made.name;

In [ ]:
pd.concat([sample1_df, sample2_df])

In [ ]:
#Looking at the population of the common name Bat over time.
bat = new_df[new_df['commonName']=='Bat']
grp = bat.groupby('startDate').apply(lambda x: x['commonName'].value_counts()).unstack().fillna(0)
grp.head()

In [ ]:
#Grouping as a dataframe
b = bat.groupby(['startDate', 'commonName'])[['count']].sum()
bs = b.reset_index()
bs.head()

In [ ]:
bs.plot(x='year', kind='bar', figsize=(10,10))
plt.title('Common Name "Bat"', fontsize=20, color='Red')
plt.xlabel('Year')
plt.ylabel('Total Count')
#bat.plot(x=['years'], y=['Count'])

In [ ]:
#Using pivot to reorder to plot without specifying the axis
bats = bs.pivot(index='year', columns='commonName').fillna(0)
bats.head()

In [ ]:
bats.plot(kind='bar', figsize=(10,10))
plt.title('Common Name "Bat"', fontsize=20, color='Red')
plt.xlabel('Year')
plt.ylabel('Total Count')
#bat.plot(x=['years'], y=['Count'])

In [ ]:
#Looking at the population of the common name Natterer's Bat over time.
natbat = new_df[new_df['commonName']=='Natterer\'s Bat']
#g = natbat.groupby('years').apply(lambda x: x['commonName'].value_counts()).unstack().fillna(0)
#g.head()

In [ ]:
#Grouping by years and commonName
nb = natbat.groupby(['year', 'commonName'])[['Count']].sum()
bn = nb.reset_index()
bn.head()

In [ ]:
#Pivot to reorder as before
batnat = bn.pivot(index='year', columns='commonName').fillna(0)
batnat.head()

In [ ]:
#Plotting pivot because no need to specify axis
batnat.plot(kind='bar', figsize=(10,10))
plt.title('Common Name "Natterer\'s Bat"', fontsize=20, color='Red')
plt.xlabel('Year')
plt.ylabel('Total Count')

In [ ]:
# The crosstab has reshaped the DataFrame - there is now a row for each unique value in the commonNmae column 
#of the original table, and a column for each unique value in the years column of the original table.
#At the intersection of each row and column there is the count of the number of times that row value and that column 
#value occur in the original table's rows.
# The result is a table bats_df.
bats_df = pd.crosstab(new_df['commonName'], new_df['year'], margins=True)
#bats_df.reset_index()
bats_df.head()

In [ ]:
pivoted = new_df.pivot_table(index=['commonName', 'year', 'Count'], aggfunc=np.sum)
pivoted.columns

In [ ]:
#Adding functions to select years
updated_bats = new_df.copy()
#if pnl[company].tail(1)['Active'].any()==1:
    #print 'yay'
def select_decade(y):
    for y in updated_bats.year:
        if y.all() > 1960:
            return year
def floor_decade(y):
    for y in updated_bats.year:
        return (y // 10) * 10

In [ ]:
updated_bats['year'] = (updated_bats['year']// 10) * 10
grouped = updated_bats.groupby(['year'])
batter_df = grouped['commonName', 'Count'].aggregate('sum')
batter_df.plot.bar()

In [ ]:
battier = updated_bats.groupby(['year', 'commonName'])[['Count']].sum()
#battier.replace(np.nan, 0)
battier

In [ ]:
battiest = battier.reset_index()
battiest.head()
battiest.dtypes

In [ ]:
counts = battiest.groupby('year').apply(lambda x: x['commonName'].value_counts()).unstack().fillna(0)
counts

In [ ]:
count = battiest.pivot(index='year', columns='commonName').fillna(0)
count.reset_index()
count.columns

count.plot(kind='bar', figsize=(20,20))
plt.title('Bat Population of the UK over time, by decade', fontsize=20, color='Blue')
plt.xlabel('Years by decade')
plt.ylabel('Total Count')

In [ ]:
#Concatenating
batframes = [h_df, r_df]
results = pd.concat(batframes).fillna(0)
results.head()

In [ ]:
#Reading in the weather data over the period and concatenating it.
london_df = pd.read_csv('data/LondonWeatherdata/LondonWeather2005.csv', usecols = ['GMT', 'Mean TemperatureC', 'Precipitationmm'])
london_df1 = pd.read_csv('data/LondonWeatherdata/LondonWeather2010.csv', usecols = ['GMT', 'Mean TemperatureC', 'Precipitationmm'])
london_df2 = pd.read_csv('data/LondonWeatherdata/LondonWeather2015.csv', usecols = ['GMT', 'Mean TemperatureC', 'Precipitationmm'])

In [ ]:
#Concatenating
frames = [london_df, london_df1, london_df2]
result = pd.concat(frames).fillna(0)
result['GMT']= pd.to_datetime(result['GMT']).dt.year
result.head()

In [ ]:
#Grouping to plot
result_grouped = result.groupby(['GMT'])['Mean TemperatureC','Precipitationmm'].mean()
result_grouped.plot.bar(subplots=True, figsize=(10,10))

In [ ]:
#Reading in the weather data over the period and concatenating it.
leeds_df = pd.read_csv('data/LeedsWeatherdata/LeedsWeather2001.csv', usecols = ['GMT', 'Mean TemperatureC', 'Precipitationmm'])
leeds_df1 = pd.read_csv('data/LeedsWeatherdata/LeedsWeather2009.csv', usecols = ['GMT', 'Mean TemperatureC', 'Precipitationmm'])
leeds_df2 = pd.read_csv('data/LeedsWeatherdata/LeedsWeather2015.csv', usecols = ['GMT', 'Mean TemperatureC', 'Precipitationmm'])

In [ ]:
#Concatenating
frames1 = [leeds_df, leeds_df1, leeds_df2]
result1 = pd.concat(frames1).fillna(0)
result1['GMT']= pd.to_datetime(result1['GMT']).dt.year
result1.head()

In [ ]:
#Grouping to plot
result1_grouped = result1.groupby(['GMT'])['Mean TemperatureC','Precipitationmm'].mean()

In [ ]:
#plotting Leeds weather fropm 1996 - 2015
result1_grouped.plot.bar(subplots=True, figsize=(10,10), color='white')

In [ ]:
#Reading in the weather data over the period and concatenating it.
Manch_df = pd.read_csv('data/ManchesterWeatherdata/ManchesterWeather2001.csv', 
                       usecols = ['GMT', 'Mean TemperatureC', 'Precipitationmm'])
Manch_df1 = pd.read_csv('data/ManchesterWeatherdata/ManchesterWeather2009.csv', 
                        usecols = ['GMT', 'Mean TemperatureC', 'Precipitationmm'])
Manch_df2 = pd.read_csv('data/ManchesterWeatherdata/ManchesterWeather2015.csv', 
                        usecols = ['GMT', 'Mean TemperatureC', 'Precipitationmm'])

In [ ]:
#Concatenating
frames2 = [Manch_df, Manch_df1, Manch_df2]
result2 = pd.concat(frames2).fillna(0)
result2['GMT']= pd.to_datetime(result2['GMT']).dt.year
result2.head()

In [ ]:
#Grouping to plot
result2_grouped = result2.groupby(['GMT'])['Mean TemperatureC','Precipitationmm'].mean()

In [ ]:
#plotting Leeds weather fropm 1996 - 2015
result2_grouped.plot.bar(subplots=True, figsize=(10,10))

In [ ]:
ax = result_grouped.plot.bar()
result1_grouped.plot.bar(ax=ax, figsize=(15,10), color='white')
plt.title('London and Leeds weather over time from 2001 to 2015', fontsize=20, color='Blue')

Having studied the weather data over the period it can be seen that there is a peak in temperature in 2005 for both Leeds and
London, although the weather mean temperature in London is higher overall. It can also be seen that at the same time as the
temperature increased so did the precipitation. It appears that bats must like warm temperatures though because the 
overall bat population increased in line with the temperature increases, however they may not be big fans of rain because the 
populations are decreasing in line with the increases in precipitation. I attempted to plot Cardiff, Manchester and Bristol data, 
but apparently it didn't rain over the period which I think is highly unlikely. However they followed the same temperature trends 
as London and Leeds. There was also the issue of no records for weather for earlier years which made the results a guide only.

In [ ]:
# The create_map() saves an HTML representation of the map object to the specified file.
# (You can open this file in your browser as well as it displaying directly in the Notebook.)
# This will not display a map if your are offline. A network connection is required to 
# retrieve the map tiles.

# Once you've run this cell, and the map is rendered below, you'll see, 
# if you put your mouse over it and scroll, that it is zoomable.

map_TMA = folium.Map(location=[55.3781,3.4360], width=960, height=500, zoom_start=5, max_zoom=16)

map_TMA.create_map(path='data/TMA.html')

#  Due to a bug in the current version of folium, the following line is needed to force
#  the named map to be displayed in the output cell. 
map_TMA.render_iframe = True

# This is the standard Notebook way of displaying the last object named in the cell.
# It's a map object.
map_TMA

In [ ]:
for i in range(coord_df.shape[0]):
    (lat, long) = coord_df.ix[i,['Latitude','Longitude']]
    print(lat, long, 'Area with bats.')

In [ ]:
for i in range(coord1_df.shape[0]):
    (lat, long) = coord1_df.ix[i,['Latitude','Longitude']]
    print(lat, long, 'Area with bats.')

In [ ]:
# The radius is in pixels, using the absolute size value directly.
# This code iterates through the index for Carparking_df, 
# creating a marker for each row.
for i in range(coord_df.shape[0]):
    (lat, long) = coord_df.ix[i,['Latitude','Longitude']]
    map_TMA.polygon_marker(location=[lat, long], radius=5,
                              popup='Area with bats.', 
                              line_color='blue', fill_color='#132b5e', 
                               fill_opacity=0.5)

map_TMA.render_iframe = True
# This will not display a map if your are offline. 
map_TMA.create_map(path='data/bats.html')
map_TMA

In [ ]:
# The radius is in pixels, using the absolute size value directly.
# This code iterates through the index for Carparking_df, 
# creating a marker for each row.
for i in range(coord1_df.shape[0]):
    (lat, long) = coord1_df.ix[i,['Latitude','Longitude']]
    map_TMA.polygon_marker(location=[lat, long], radius=5,
                              popup='Area with bats.', 
                              line_color='blue', fill_color='#132b5e', 
                               fill_opacity=0.5)

map_TMA.render_iframe = True
# This will not display a map if your are offline. 
map_TMA.create_map(path='data/batsroost.html')
map_TMA

In [ ]:
hib_df['Latitude'] = coord_df.Latitude
hib_df['Longitude'] = coord_df.Longitude
hib_df

In [ ]:
bat_df['Latitude'] = coord1_df.Latitude
bat_df['Longitude'] = coord1_df.Longitude
bat_df
#coord1_df['name']= r_df['commonName']
#coord1_df.head()

Try to classify based on latitude and date with the column to classify as commonName.

In [ ]:
# Looping to add map data:
for i in range(coord_df.shape[0]):
    (lat, long) = coord_df.ix[i,['Latitude','Longitude']]
    print(lat, long, 'Area with bats.')

In [ ]:
# Looping to add map data:
for i in range(coord1_df.shape[0]):
    (lat, long) = coord1_df.ix[i,['Latitude','Longitude']]
    print(lat, long, 'Area with bats.')

In [ ]:
# let's use the pop-up string on simple_markers to report number of bats.
#add markers, one for bats in each area 
# creating a marker for each.
for i in range(coord_df.shape[0]):
    Bats = coord_df['name'][i]
    Popstring = ('Bat Type ' + Bats)
    (lat, long) = coord_df.ix[i,['Latitude','Longitude']]
    map_TMA.simple_marker(location=[lat, long], popup=Popstring)
map_TMA.render_iframe = True
# This will not display a map if your are offline. 
map_TMA.create_map(path='data/bats.html')
map_TMA

In [ ]:
# let's use the pop-up string on simple_markers to report number of bats.
#add markers, one for bats in each area 
# creating a marker for each.
for i in range(coord1_df.shape[0]):
    Bats = coord1_df['name'][i]
    Popstring = ('Bat Type ' + Bats)
    (lat, long) = coord1_df.ix[i,['Latitude','Longitude']]
    map_TMA.simple_marker(location=[lat, long], popup=Popstring)
map_TMA.render_iframe = True
# This will not display a map if your are offline. 
map_TMA.create_map(path='data/batsroost.html')
map_TMA

In [ ]:
#Get the numbers of different types of bats and make new coloured markers for each type usinf folium notebook 5.2.
# Create our base map, centred on Milton Keynes.
# LicenceMap4 = folium.Map(location = [52.0218,-0.7599], width=500, height=500,
#                     zoom_start=10, max_zoom=15)


# LicenceMap4.geo_json(geo_path='data/mk.geoJSON.txt', 
#                      data_out='map-output-files/MKdata4.json',
#                      data=licences2_df, 
#                      columns=['outcode', 'fullpercentage'], 
#                      key_on='feature.properties.Name',
#                      fill_color='RdPu', fill_opacity=0.8, line_opacity=0.9,
#                      legend_name='Full license percentages',
#                      threshold_scale=[40,50,60,70,80,90]  )

# LicenceMap4.render_iframe = True
# # Note that for some reason Cholorpleth maps only works if the output file for the map
# # is in the Notebook directory.
# # This will not display a map if your are offline. 
# LicenceMap4.create_map(path='LicenceMap4.html')
# LicenceMap4

In [ ]:
import matplotlib.patches as mpatches
# We're going to build the legend patch list one element at a time;
# it starts empty.
legendpatch_list = []
colours = {'Soprano Pipistrelle':'red', 'Common Pipistrelle':'red', "Brandt's Bat":'red',
       'Western Barbastelle':'red', 'Pipistrelle':'red', 'Brown Long-eared Bat':'red',
       "Daubenton's Bat":'red', 'Bat':'red', 'Serotine':'red', 'Greater Horseshoe Bat':'red',
       'Grey Long-eared Bat':'red', 'Long-eared Bat species':'red',
       'Lesser Horseshoe Bat':'red', "Bechstein's Bat":'red', "Whiskered/Brandt's Bat":'red',
       "Natterer's Bat":'red', 'Mouse-eared Bat':'red', 'Lesser Noctule':'red',
       'Whiskered Bat':'red', 'Myotis Bat species':'red', 'Noctule Bat':'red'}
# We want to loop for each Region
grouped = newer_df.groupby('commonName')
for key, group in grouped:
    
#for key, group in newer_df:
    # for each type create the legend patch
    legendpatch_list = legendpatch_list+([mpatches.Patch(color=colours[key], label=key)]) 

group.plot.scatter(ax=ax,x='years', y='Count', s=(group['Count']), c=colours[key])
#can't use common name on y because it isn't numeric you idiot

In [ ]:
import matplotlib.patches as mpatches
# We're going to build the legend patch list one element at a time;
# it starts empty.
legendpatch_list = []
colours = {'Soprano Pipistrelle':'red', 'Common Pipistrelle':'red', "Brandt's Bat":'red',
       'Western Barbastelle':'red', 'Pipistrelle':'red', 'Brown Long-eared Bat':'red',
       "Daubenton's Bat":'red', 'Bat':'red', 'Serotine':'red', 'Greater Horseshoe Bat':'red',
       'Grey Long-eared Bat':'red', 'Long-eared Bat species':'red',
       'Lesser Horseshoe Bat':'red', "Bechstein's Bat":'red', "Whiskered/Brandt's Bat":'red',
       "Natterer's Bat":'red', 'Mouse-eared Bat':'red', 'Lesser Noctule':'red',
       'Whiskered Bat':'red', 'Myotis Bat species':'red', 'Noctule Bat':'red'}
# We want to loop for each Region
#grouped = tidyfull_df.groupby('Region')
#for key, group in grouped:
for key in colours:
    # for each type create the legend patch
    legendpatch_list = legendpatch_list+([mpatches.Patch(color=colours[key], label=key)]) 
legendpatch_list
plt.scatter(newer_df.years, newer_df.Count, s=newer_df.Count, c=colours[key])
#can't use common name on y because it isn't numeric you idiot

In [ ]:
newer_df = new_df[['commonName','years','Count']]

In [ ]:
newer_df.columns

In [ ]:
hmmm = battier.reset_index()
hmmm.columns

In [ ]:
hmmm.plot.scatter(x='years', y='Count', c='Count')

In [ ]:
grouped = newer_df.groupby(['commonName', 'years'])
grouped.reset_index()
grouped .plot.scatter(x='years', y='Count', logx=True,
                         s=(grouped['Count']))

In [ ]:
# plt.subplots() creates a plotting object that can accept 
# multiple plots, this is embedded in a single figure.
fig, ax = plt.subplots()

#This should work, don't cnahge

# Set up the colour dict for each region:

colours = {'Soprano Pipistrelle':'red', 'Common Pipistrelle':'red', "Brandt's Bat":'red',
       'Western Barbastelle':'red', 'Pipistrelle':'red', 'Brown Long-eared Bat':'red',
       "Daubenton's Bat":'red', 'Bat':'red', 'Serotine':'red', 'Greater Horseshoe Bat':'red',
       'Grey Long-eared Bat':'red', 'Long-eared Bat species':'red',
       'Lesser Horseshoe Bat':'red', "Bechstein's Bat":'red', "Whiskered/Brandt's Bat":'red',
       "Natterer's Bat":'red', 'Mouse-eared Bat':'red', 'Lesser Noctule':'red',
       'Whiskered Bat':'red', 'Myotis Bat species':'red', 'Noctule Bat':'red'}

# We're going to be responsibile for our own legend, so we need 
# mpatches again.
import matplotlib.patches as mpatches
# We're going to build the legend patch list one element at a time;
# it starts empty.
legendpatch_list = []

# We want to loop for each Region
#grouped = tidyfull_df.groupby('Region')
#for key, group in grouped:
for key, group in grouped:
    # for each typecreate the legend patch
    legendpatch_list = legendpatch_list+([mpatches.Patch(color=colours[key], label=key)]) 
    # and plot the data, explicitly telling plot() that the 
    # axes object to plot on is the same axes object created 
    # using the .subplot() so, ax=ax is used each time.
    grouped.plot.scatter(ax=ax,x='years', y='Count',
                       logx=True,
                       s=(group['commonName']),
                        c=colours[key],
                        ylim=[35,90],
                        figsize=(8,5))
    
#plt.xticks(['1960','1970','1980','1990','2000','2010','2020'])             

# The original x and y axes labels:
plt.xlabel('Years by decade')
plt.ylabel('Total Count')

plt.savefig('data/batscrazy.png', dpi=200)

In [ ]:
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt

def randrange(n, vmin, vmax):
    return (vmax - vmin)*np.random.rand(n) + vmin

fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
n = 100
for c, m, zl, zh in [('r', 'o', -50, -25), ('b', '^', -30, -5)]:
    xs = randrange(n, 23, 32)
    ys = randrange(n, 0, 100)
    zs = randrange(n, zl, zh)
    ax.scatter(xs, ys, zs, c=c, marker=m)

ax.set_xlabel('X Label')
ax.set_ylabel('Y Label')
ax.set_zlabel('Z Label')

plt.show()

In [ ]:
! pip install plotly --upgrade

In [ ]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

print (__version__ )# requires version >= 1.9.0

In [ ]:
import plotly.plotly as py
py.sign_in('monette', '627y9m8o6b')

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go

import numpy as np

x, y, z = np.random.multivariate_normal(np.array([0,0,0]), np.eye(3), 200).transpose()
trace1 = go.Scatter3d(
    x=x,
    y=y,
    z=z,
    mode='markers',
    marker=dict(
        size=12,
        line=dict(
            color='rgba(256, 256, 226, 0.74)',
            width=0.5
        ),
        opacity=0.8
    )
)

x2, y2, z2 = np.random.multivariate_normal(np.array([0,0,0]), np.eye(3), 200).transpose()
trace2 = go.Scatter3d(
    x=x2,
    y=y2,
    z=z2,
    mode='markers',
    marker=dict(
        color='rgb(50, 50, 50)',
        size=12,
        symbol='circle',
        line=dict(
            color='rgb(204, 204, 204)',
            width=1
        ),
        opacity=0.9
    )
)
data = [trace1, trace2]
layout = go.Layout(
    margin=dict(
        l=0,
        r=0,
        b=0,
        t=0
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='simple-3d-scatter')